<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PacketStudio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ByteArrayToPcap.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <PacketStudio.Properties.Settings>
            <setting name="lastWiresharkPath" serializeAs="String">
                <value>C:\Program Files\Wireshark\Wireshark.exe</value>
            </setting>
            <setting name="lastAskToSaveSetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="livePreviewActive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="livePreviewDelayMs" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="livePreviewInContext" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="livePreviewPacketList" serializeAs="String">
                <value>False</value>
            </setting>
        </PacketStudio.Properties.Settings>
        <ByteArrayToPcap.Properties.Settings>
            <setting name="lastWiresharkPath" serializeAs="String">
                <value>C:\Program Files\Wireshark\Wireshark.exe</value>
            </setting>
            <setting name="lastAskToSaveSetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="livePreviewActive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="livePreviewDelayMs" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="livePreviewInContext" serializeAs="String">
                <value>False</value>
            </setting>
        </ByteArrayToPcap.Properties.Settings>
    </userSettings>
</configuration>
