<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PacketStudio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ByteArrayToPcap.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <PacketStudio.Properties.Settings>
            <setting name="lastWiresharkPath" serializeAs="String">
                <value>C:\Program Files\Wireshark\Wireshark.exe</value>
            </setting>
            <setting name="lastAskToSaveSetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="livePreviewActive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="livePreviewDelayMs" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="livePreviewInContext" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="livePreviewPacketList" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnabledHeuristicDissectors" serializeAs="String">
                <value />
            </setting>
            <setting name="DisabledHeuristicDissectors" serializeAs="String">
                <value />
            </setting>
            <setting name="NeedToBeEnabledDissectors" serializeAs="String">
                <value />
            </setting>
            <setting name="NeedToBeDisabledDissectors" serializeAs="String">
                <value />
            </setting>
            <setting name="LastWiresharksList" serializeAs="String">
                <value />
            </setting>
        </PacketStudio.Properties.Settings>
        <ByteArrayToPcap.Properties.Settings>
            <setting name="lastWiresharkPath" serializeAs="String">
                <value>C:\Program Files\Wireshark\Wireshark.exe</value>
            </setting>
            <setting name="lastAskToSaveSetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="livePreviewActive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="livePreviewDelayMs" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="livePreviewInContext" serializeAs="String">
                <value>False</value>
            </setting>
        </ByteArrayToPcap.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="PacketDotNet" publicKeyToken="451414c7667b2a58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.5.0" newVersion="1.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
