<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CliWrap" version="3.2.3" targetFramework="net48" />
  <package id="log4net" version="2.0.10" targetFramework="net461" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.1" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net452" />
  <package id="PacketDotNet" version="1.0.5" targetFramework="net48" />
  <package id="SharpPcap" version="5.1.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>